config.inc.php
.DS_Store
build
temp
/files
.project
.project/
.vscode
.buildpath
.settings/
.htaccess
te_ST/
node_modules
js/build.js
js/hot-updates
styles/build.css
cypress.env.json
cypress/logs/
cypress/screenshots/
.php_cs.cache
.php-cs-fixer.cache
package-lock.json

/public/presses
/public/site

/lib/pkp/classes/cache/*

# lib/pkp
lib/pkp/te_ST/
lib/pkp/lib/tinymce/jscripts/tiny_mce/*.gz
lib/pkp/lib/components
lib/pkp/.DS_Store
lib/pkp/.php_cs.cache
lib/pkp/tests/.phpunit.result.cache
lib/pkp/.php-cs-fixer.cache

# lib/ui-library
lib/ui-library/.DS_Store
lib/ui-library/node_modules
lib/ui-library/dist

lib/ui-library/.env.local
lib/ui-library/.env.*.local

lib/ui-library/npm-debug.log*
lib/ui-library/yarn-debug.log*
lib/ui-library/yarn-error.log*

lib/ui-library/.idea
lib/ui-library/.vscode
lib/ui-library/*.suo
lib/ui-library/*.ntvs*
lib/ui-library/*.njsproj
lib/ui-library/*.sln
lib/ui-library/*.sw*
